<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
  <title>Bun Todo</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
</head>

<body>
  <header class="container">
    <hgroup>
      <h1>Bun 1.0 + HTMX</h1>
      <h2>What a wonderful world!</h2>
    </hgroup>
  </header>

  <main class="container">
    <form hx-post="/todos" hx-target="#todos" hx-ext="json-enc" _="on submit target.reset()">
      <label for="todo">Bun Todo</label>
      <input type="text" id="todo" name="todo" aria-label="Create Todo" placeholder="New Bun Todo" />
      <button type="submit">Create Bun</button>
    </form>

    <section id="todos" hx-get="/todos" hx-trigger="load"></section>
  </main>

  <script src="https://unpkg.com/htmx.org@1.9.6"></script>
  <script src="https://unpkg.com/hyperscript.org@0.9.11"></script>
  <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
</body>

</html>
